# pnpm 配置文件
# See https://pnpm.io/zh/configuring

shamefully-hoist=true

# 国内镜像加速
registry=https://registry.npmmirror.com

# 设置严格的 peerDependencies 检查
# strict-peer-dependencies=false

# 自动安装 peerDependencies
# auto-install-peers=true

# 使用pnpm workspace catalogs 功能
# 如果项目有多个子包，可以在这里配置
# packages:
#   - 'packages/*'
